/* Register.css */

.register-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(146, 146, 146, 0.1);
  }

  .register-container h2{
    text-align: center;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .register-button {
    background-color: #b58ccc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .register-button:hover {
    background-color: #d2c0db;
  }
  
  .login-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .login-link a {
    color: #22262a;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  