* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 8rem;
}

.menulinks{
    display: flex;
    list-style-type: none;
    gap: 3rem;
    align-items: center;
}

.menulinks a{
    color: black;
    height: 100%;
    text-decoration: none;
    font-size: 17px;
}

.menulinks a.active {
    border-bottom: #c3bfbf solid 1px;
}


.logo{
    cursor: pointer;
    font-weight: 500;


}