@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 8rem;
    box-shadow: 0px 0px 10px rgba(30, 28, 28, 0.1);
}

.menulinks{
    display: flex;
    list-style-type: none;
    gap: 3rem;
    align-items: center;

}

.menulinks a{
    color: black;
    height: 100%;
    text-decoration: none;
    font-size: 16px;
}

.menulinks a.active {
    border-bottom: #c3bfbf solid 1px;
}

.menulinks a {
    transition: transform 0.3s ease;
}


.menulinks li:hover {
    transform: scale(1.06);
}


.logo{
    font-weight: 500;
    margin-top: .6rem;
}

.logo span{
    color: rgb(75, 133, 76);
}

.logOut{
    background-color: #c2aecf77;
    font-size: 12px;
    color: #090909;
    align-self: center;
    padding: 5px 15px;
    margin-top: 3px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: none;
}

.discount-banner{
    background-color: #e8dfdf;
    text-align: center;
    padding: .5rem;
    overflow: hidden;
}

.discount-banner p  {
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 20s linear infinite;
}

.discount-banner p > span {
    letter-spacing: 3px;
    font-weight: 600;

}

@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
