@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
.cart {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .cart h2 {
    font-size: 23px;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .cart ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .cartitem-price{
    font-weight: bold;
  }
  
  .cart .product-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .cart img {
    max-width: 50px;
    max-height: 50px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .cart button {
    background-color: #ef4a3fd2;
    color: white;
    font-size: 12px;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1rem;
  }

  .cart-view{
    padding: 20px;
    background-color: #f9f9f9;
  }

  .checkoutBtn {
    display: flex;
    justify-content: center;
  }
  
.checkoutBtn button{
  margin-top: 2rem;
  background-color: #96a997ee;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 6px 13px;
  font-size: 13px;
  
}

.checkoutBtn button:hover{
  background-color: #c1ccc2ee;
}


.empty-cart-txt{
  text-align: center;
}

.loginMessage-container{
  margin-top: 2rem;
  
}
  