
  .product-list {
    display: flex;
    flex-wrap: wrap; 
    margin: 7rem 10rem;
    justify-content:center;
  }

  .card {
    width: calc(25% - 20px);
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  }
  
  .card img {
    width: auto;
    height: 80%;
  }
  
  .card h3 {
    font-size: 18px;
    margin-top: 10px;

  }
  
  .card p.price {
    font-weight: bold;
    margin-top: 10px;
    color: rgb(128, 128, 128);
  } 

.buyButton {
    margin-top: 1rem;

  }

  .buyButton button{
    background-color: #9dbb9aab; /* Bakgrundsfärg */
    color: #302f2fe0; /* Textfärg */
    border: none; /* Ta bort kantlinjen */
    padding: 8px 18px; /* Justera önskat padding (topp och botten, vänster och höger) */
    font-size: 14px; /* Justera önskad textstorlek för knappen */
    cursor: pointer; /* Visa en handpekare vid hovring */
    border-radius: 3px;
    transition: background-color 0.3s ease; 
  }

  .buyButton button:hover{
    background-color: #a3dc9b;
  }