
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px; 
  margin: 2rem auto; 
  padding: 20px; 
  font-family: 'Poppins', sans-serif;
}

.card {
  width: calc(25% - 20px); 
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px; 
}

.card img {
  width: auto;
  max-height: 340px; 
  object-fit:fill; 
  transition: transform 0.3s ease;
}

.productInformation{
 margin-top: .2rem;
}

.card img:hover {
  transform: scale(1.008);
}

.card h3 {
  font-size: 15px;
  font-weight: 500;
  padding-top: .5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card h3[title]:hover::before {
  content: attr(title);
  background-color: #00000089;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.card h3[title]:hover::before {
  opacity: 1;
}

.card p.price {
  font-weight: 600;
  margin-top: 10px;
  color: #888;
  font-size: 14px;
}

.buyButton {
  margin-top: .8rem;
}

.buyButton button {
  background-color: #9dbb9aab;
  color: #302f2fe0;
  border: none;
  padding: 8px 15px;
  font-size: 13.5px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #d3dccfdb;
  color:  #5d625bd3;
}
